@font-face {
    font-family: "Helvetica Neue Regular";
    src: url("./fonts/HelveticaNeueLTStd-Roman.otf");
}

@font-face {
    font-family: "Helvetica Neue Medium";
    src: url("./fonts/HelveticaNeueLTStd-Md.otf");
}

body {
    width: 100vw;
    color: #2D293C;
    font-family: "Helvetica Neue Regular", "Work Sans Regular", Arial, sans-serif;
    background: #CADFFF;
}

a {
    color: #2D293C;
    cursor: pointer;
}

p {
    font-size: 1.3rem;
    line-height: 2rem;
    width: 70%;
}


h1, h2, h3, h4, h5 {
    font-family: "Helvetica Neue Medium", "Work Sans Medium", Arial, sans-serif;
}
h1 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
    line-height: 3.5rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.4rem;
    margin-bottom: 5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
}
header {
    z-index: 1;
    position: fixed;
    height: 90px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: rgba(202, 223, 255, 0.5);
}

header > div > a > img {
    max-width: 140px;
}

header > div {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    margin-right: 20px;
    color: #2D293C;
}

header ul li:last-child {
    margin-right: 0;
}

header ul a {
    text-decoration: none;
}

header a:visited {
    color: #2D293C;
}

header div a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

header div p {
    margin: 0;
    font-size: 1rem;
    margin-right: 10px;
}

header div div img {
    transform: translateY(-2px);
    width: 40px;
    align-self: center;
}

header div div {
    transition: 0.3s;
}

header div div:hover {
    transform: translateX(10px);
    transition: 0.3s;
}

.main {
    position: relative;
    top: 90px;
}

section {
    width: 100vw;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.container > img {
    width: 55%;
}

.row {
    display: flex;
}

button {
    background: #2D293C;
    border: 0;
    padding: 1rem 4rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Helvetica Neue Medium", "Work Sans Medium", Arial, sans-serif;
}

button:hover {
    cursor: pointer;
}

section.tecnologia {
    background: #CADFFF;
}

section.tecnologia p {
    margin-bottom: 2rem;
}

section.collaboradores {
    background: white;
    padding: 60px 0;
}

section.collaboradores .nuestros-collaboradores{
    margin-left: 5%;
}

section.collaboradores .container{
    display: block;
}

.deliveroo-img {
    zoom: 0.5;
}

section.collaboradores h3 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.4;
    color: #2d293c;
    margin-bottom: 0;
}

.light {
    font-family: "Helvetica Neue Regular", "Work Sans Regular", Arial, sans-serif;
    width: 80%;
}

section.collaboradores .collab-logos {
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.collab-logos > div {
    display: flex; 
    justify-content: center;
    margin: 0 30px;
}



.collab-logos > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 15rem;
}

section.collaboradores .collab-logos img {
    align-self: center;
    margin: 1rem;
}

.ironhack-img {
    height: 8rem;
}

.playtomic-img {
    height: 5rem;
    width: 15rem;
}

.cabify-img {
    height: 5rem;
    width: 10rem;
}

section.quotes {
    background-color: white;
}

section.quotes .quote {
    display: none;
}

section.quotes p {
    width: 80%;
}

section.quotes .active {
    display: flex;
    justify-content: space-around;
}

section.quotes .arrows {
    margin: 5%;
}

section.quotes .arrows img {
    width: 100px;
}

section.quotes .quote  img {
    width: 327px;
    height: 327px;
}

section.quotes .container {
    width: 100%;
}

section.quotes .arrows #img-arrow-left {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

section.quotes .active .quote-text {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

section.quotes .circles {
    display: none;
}

section.aprender {
    background: #2D293C;
}

section.aprender h5 {
    color: #FFF;
}

section.aprender .container {
    display: block;
}

section.aprender h3{
    color: #fff;
}

section.aprender .row {
    display: flex;
    justify-content: center;
}

.up, .bottom{
    width: 30%;
}

.up {
    margin-right: 10rem;
}

.aprender p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #888;
    width: 100%;
}

section.esperas {
    background: #fff;
}

section.esperas .top-text{
    margin-bottom:7rem;
}

section.esperas img {
    width:15rem;
}

section.esperas h3 {
    margin-bottom:1rem;
}

section.que-es-circus {
    background: #B9E9E4;
    padding: 120px 0;
}

img {
    object-fit: contain;
}

section.que-es-circus > .container {
    flex-direction: column;
    align-items: flex-start;
}

section.que-es-circus > .container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.que-es-circus img {
    width: 50%;
}

section.que-es-circus ul {
    width: 25%;
}

section.que-es-circus ul p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #888;
    width: 100%;
}

section.que-es-circus ul li {
    margin-bottom: 2.3rem;
}

section.que-es-circus ul li:last-child {
    margin: 0;
}

section.madrid {
    background: #FFF6C2;
    padding: 120px 0;
}

section.madrid .container {
    align-items: flex-start;
}

section.madrid .container > img {
    width: 40%;
}

section.madrid .container > div {
    width: 50%;
}

section.buscamos {
    display: flex;
    padding: 0;
}

section.buscamos .left,
section.buscamos .right {
    width: 50%;
    padding: 120px 0;
}

section.buscamos .right {
    background: white;
    padding-right: 12.5%;
    display: flex;
    justify-content: flex-end;
}

section.buscamos .right ul {
    width: 80%;
}

section.buscamos .right ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

section.buscamos .right ul li img {
    width: 40px;
    margin-right: 20px;
}

section.buscamos .right p {
    width: 100%;
    font-family: "Helvetica Neue Medium", "Work Sans Medium", Arial, sans-serif;
    font-size: 1.3rem;
}

section.buscamos .left {
    padding-left: 12.5%;
}

section.buscamos .left p {
    font-size: 1.1rem;
    color: #2D293C;
    margin-bottom: 0.5rem;
    line-height: 1.6rem;
}

section.buscamos .left h2 {
    width: 60%;
    line-height: 3.7rem;
    margin-bottom: 1.4rem;
}

footer {
  background: #F5C8CD;
  width: 100vw;
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
}

.caras{
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 3px;
  background-color: grey;
}

.carasWrapp{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carasImages{
  width: 400px;
  height: 300px;
  display: none;
  margin-bottom: 60px;
}

.active{
  display: block;
}

.activeBut{
  background-color: orange;
}

.footer-wrap {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.eventos {
    display: flex;
    padding: 0;
}

section.eventos .center{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

section.eventos .left {
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    background-color: #f5c8cd;
}

section.eventos .right {
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    background-color: white;
}

section.eventos p {
    opacity: 0.4;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.4px;
}

section.eventos h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.4;
}

textarea:focus, input:focus{
    outline: none;
}

section.eventos input[type=email] {
    width: 70%;
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    margin-top: 20px;
}

section.eventos button {
    margin: 50px 0;
}

section.eventos .dates {
    display: flex;
    padding: 5% 0;
}

section.eventos h6 {
    font-weight: 500;
    line-height: 1.4;
    font-family: HelveticaNeue;
}

section.eventos .column{
    padding-left: 10%;
}

@media screen and (min-width:1201px)  {
    .cabify-img {
        margin-left: -25% !important;
    }
}
@media screen and (max-width:1200px) and (min-width:768px) {
    section.collaboradores .container > div {
        width: 50%;
        flex-flow: row wrap;
    }

    section.collaboradores .container > div.collab-logos {
        width: 40%;
    }
    .cabify-img {
        margin-left: -25% !important;
    }
}

@media screen and (max-width: 768px) {

    header {
        position: absolute;
    }
    
    header > div {
        flex-direction: column;
        text-align: center;
        padding-top: 2rem;
    }

    header > div img {
        margin-bottom: 2rem;
    }

    header > div > div {
        display: none;
    }
    
    section .container {
        width: 100vw;
        box-sizing: border-box;
        padding: 0 8vw;
    }
    
    section.tecnologia .container {
        flex-direction: column-reverse;
    }

    section.tecnologia img,
    section.que-es-circus img,
    section.madrid .container img {
        width: 80vw;
        margin-bottom: 40px;
    }

    section.tecnologia .container div {
        text-align: center;
    }

    section.tecnologia p {
        width: 100%;
    }

    section.collaboradores .container {
        flex-direction: column;
    }

    section.collaboradores .container > div,
    .light {
        flex-flow: column;
        width: 100%;
    }

    .cabify-img {
        height: 6rem !important;
    }

    section.collaboradores .container h3 {
        text-align: center;
        margin-bottom: 2rem;
    }

    section.collaboradores .container h3:last-child {
        margin-bottom: 4rem;
    }
    
    section.collaboradores .collab-logos {
        flex-direction: column;
    }

    section.collaboradores .collab-logos .box > div{
        margin-bottom: 1rem;
    }

    section.collaboradores .collab-logos img {
        height: 10rem;
    }

    section.aprender .container .row {
        flex-direction: column;
    }

    .up, .bottom{
        width: 100%;
    }

    section.esperas .container {
        flex-direction: column;
    }

    section.esperas button {
        margin-bottom:60px;
    }

    .top-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .bottom-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    section.eventos {
        display: flex;
        flex-direction: column;
    }

    section.eventos .right{
        width: 100vw;
        padding: 120px 8vw;
        box-sizing: border-box;
    }

    section.eventos .left {
        width: 100vw;
        padding: 120px 8vw;
        box-sizing: border-box;
    }

    section.quotes .quote {
        flex-direction: column;
    }

    section.quotes .arrows{
        display: none;
    }

    section.quotes .circles {
        display: flex;
        margin: 5%;
    }

    section.quotes .fa-circle {
        margin: 5%;
    }

    section.quotes .author-img {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    section.quotes p {
        width: 100%;
    }

    section.quotes .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    section.quotes img {
        margin-top: 20%;
    }

    section.que-es-circus h3 {
        margin-bottom: 2rem;
    }

    section.que-es-circus .container div {
        flex-direction: column;
    }

    section.que-es-circus .container div ul {
        width: 100%;
    }

    section.buscamos {
        flex-direction: column;
        width: 100%;
    }
    
    section.buscamos .left,
    section.buscamos .right {
        width: 100%;
        padding: 120px 8vw;
        box-sizing: border-box;
    }

    section.buscamos .left h2,
    section.buscamos .left p {
        width: 80%;
    }

    section.buscamos .right {
        justify-content: flex-start;
    }

    footer .footer-wrap {
        text-align: center;
        width: 100vw;
        flex-direction: column;
    }

    footer .footer-wrap h4 {
        margin-bottom: 2rem;
    }
}
.column p{
    width: 100%
}